<!DOCTYPE html>
<!-- CarrotGrenadeDataSource=./data.csv -->
<!--
You can replace the above with a direct link to a google spreadsheet eg.
https://docs.google.com/spreadsheets/d/1M_dQPwm1Uaj0t3osCSRgEr6cv3UfGTDAZs-LEgQ7twU/edit#gid=2015050527
-->
<html lang="en">
	<head>
		<!-- 
		You can have different html files for each card type, and link different css styles for each such type,
		however you must include at least 1 stylesheet that defines a ".card" class with width/height/margin-top/margin-left
		-->
		<link rel="stylesheet" href="./css/basic.css" type="text/css">
		<!--
		You can also link in shared css that you might want to use with multiple card templates
		-->
		<link rel="stylesheet" href="./css/images.css" type="text/css">
	</head>
	<body>
		<div class="card">
			<!-- Card HTML design goes here -->
			<img class="carrot" style="margin: 0px auto; display: block" />
			
			<div style="text-align: center" >
				<b>Name: <%= card["Name"] %></b>
			</div>

			<img class="grenade" style="margin: 0px auto; display: block" />

			<br/><br/><br/>

			<div style="text-align: center" >
				<i><%= card["Description"] %></i>
			</div>

			<div style="position: absolute; bottom: 0px; left: 0px; right: 0px" >
				<div style="text-align: left; display: inline" >
					<samp><%= card["StatName"] %></samp>
				</div>
				<div style="text-align: right; display: inline; position: absolute; right: 0px" >
					<% if card["StatValue"].to_i > 9000 %>
						<samp><b><u><%= card["StatValue"] %>!!!</u></b></samp>
					<% else %>
						<samp><%= card["StatValue"] %></samp>
					<% end %>
				</div>
			</div>
		</div>
	</body>
</html>