<!DOCTYPE html>
<!-- CarrotGrenadeDataSource=https://docs.google.com/spreadsheets/d/1M_dQPwm1Uaj0t3osCSRgEr6cv3UfGTDAZs-LEgQ7twU/edit#gid=2015050527 -->
<html lang="en">
	<head>
		<!-- CarrotGrenadeImport=./imports/other_shared.ihtml -->
		<link rel="stylesheet" href="./css/card.css" type="text/css">
		<link rel="stylesheet" href="./css/images.css" type="text/css">
	</head>
	<body>
		<!-- CarrotGrenadeImport=./imports/shared.ihtml -->
		<div class="card">
			<samp>Name: <%= card["Test"] %></samp>
			<%= iconify("(C)") %>
			<img class="grenade" />
			<div id="template_with_js" style="color: red">
				<%= card["Loading"] %>
			</div>
		</div>
	</body>
</html>