<!DOCTYPE html>
<!-- CarrotGrenadeDataSource=./local_data.txt -->
<html lang="en">
	<head>
		<link rel="stylesheet" href="./css/other_card.css" type="text/css">
	</head>
	<body>
		<div class="card">
			<samp>Name: <%= card['Name'] %></samp>
		</div>
	</body>
</html>