/*
You can have different .card class definitions across different css files to suit each card type,
however you must use the class name ".card" and must include width/height/margin-top/margin-left
Currently only cm units are supported
*/
.card {
	margin-top: 0.1cm; 
	margin-left: 0.1cm; 
	width: 6.3cm; 
	height: 8.8cm;

	box-shadow:inset 0px 0px 1px 1px #000; /* add a 1 pixel inner black border */
	position: relative; /* useful for aligning elements inside card div */
}

/*
You can customize the printable page for a card template, by default a portrait A4 printable page
is generated, however you could uncomment this example to print on a landscape A4
*/
/** /
@page {
	size: 29.7cm 21cm;
}
/**/

@media print {
	body { -webkit-print-color-adjust: exact;}
	div { page-break-inside: avoid; }
}